h1 {
    background-color: black;
    color: white;
    text-align: center;
  }

  body {
    background-color: orange;
  }

  h2 {
    background-color: black;
    color: white;
    text-align: center;
  }

  img {
      display: center;
  }
